*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.green-box{
    background-color: green;
    width: 200px;
    margin-left: 30px;
}

.grey-box{
    background-color: grey;
    width: 200px;
    margin-left: 30px;
}